/* 

TYPOGRAPHY

*/

body {
  font-family: $basefontfamily; //currently is open sans but check variables.scss for changes
  font-size: $basefontsize; //currently is 1em but check variables.scss for changes
  background-color: $bgcolor; //currently is black but check variables.scss for changes
  color: $fontcolor; //currently is white but check variables.scss for changes
}

.header-wrapper {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  max-width: 100%;
  text-align: center;
  .logo {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }
  .category-form {
    grid-row: 12 / 13;
    grid-column: 2 / 3;
    text-align: center;
  }
  @include tablet {
    grid-template-columns: 10% 1fr 1fr 1fr;
    .logo {
      grid-row: 17 / 18;
      img {
        width: 13vh;
      }
    }
    .category-form {
      grid-column: 3 / 4;
      grid-row: 18 / 19;
      text-align: left;
    }
  }
  @include desktop {
    grid-template-columns: 5% 5% 1fr 1fr 1fr;
    .logo {
      grid-row: 15/16;
      text-align: left;
      img {
        width: auto;
      }
    }
    .category-form {
      grid-row: 18 / 19;
    }
  }
}

footer {
  text-align: center;
  span {
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
  }
}
