html {
  scroll-behavior: smooth;
}
//TYPOGRAPHY
body {
  font-family: $basefontfamily; //currently is open sans but check variables.scss for changes
  font-size: $basefontsize; //currently is 1em but check variables.scss for changes
  background-color: $bgcolor; //currently is black but check variables.scss for changes
  color: $fontcolor; //currently is white but check variables.scss for changes
}

//header section
.header-wrapper {
  display: $grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  max-width: 100%;
  text-align: center;

  .logo-container {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }
  #btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px #000;
    &:hover {
      border: 1px solid #000;
      color: #000;
      background-color: #fff;
    }
  }
  //form (nested grid)
  .category-form {
    grid-row: 19 / 20;
    grid-column: 2 / 3;
    text-align: center;
    display: $grid;
    grid-template-rows: 2rem 2rem;
    .news-category {
      font-size: 20px;
    }
    @include tablet {
      grid-template-columns: 75%;
    }
  }
  // end of form (nested grid)

  @include tablet {
    grid-template-columns: 10% $column;
    grid-template-rows: $row;
    .logo-container {
      grid-row: 13 / 14;
      img {
        width: 13vh;
      }
    }
    .category-form {
      grid-column: 3 / 4;
      grid-row: 14 / 15;
      text-align: left;
    }
  }
  @include desktop {
    grid-row: 13/14;
    grid-template-columns: 5% 20% $column;
    grid-template-rows: $row;
    .logo-container {
      grid-row: 10/11;
      text-align: left;
      img {
        width: auto;
      }
    }
  }
  //js addClass()
  &.change {
    display: grid;
    grid-template-rows: 2rem;
    .logo-container img {
      width: 80%;
    }
    @include tablet {
      .category-form {
        grid-row: 13/14;
        align-self: center;
        justify-items: center;
      }
      .logo-container img {
        width: 35%;
        justify-items: center;
      }
    }
    @include desktop {
      .category-form {
        grid-row: 10/13;
        justify-items: left;
      }
    }
  }
  //end of js addClass()

  .load-gif {
    display: none;
    width: 50px;
    height: auto;
    grid-row: 22/24;
    grid-column: 2/3;
    margin: 0 auto;
    @include tablet {
      grid-row: 15/17;
      grid-column: 4/5;
      margin: inherit;
    }
  }
}
//end of header section

//start of article section

.all-articles {
  display: $grid;
  grid-template-columns: 1fr;
  &.change {
    padding: $padding * 3 0;
    @include tablet {
      padding: $padding * 3 0;
    }
    @include desktop {
      padding: $padding * 3;
    }
  }
  a {
    text-decoration: none;
    color: $fontcolor;
    .each-article {
      display: $grid;
      grid-template-rows: 2fr 23%;
      background-size: $bg-size;
      background-position: center;
      background-repeat: $bg-repeat;
      height: $articleH;
      filter: grayscale(100%);
      transition: all 0.3s ease-in;
      &:hover {
        filter: grayscale(0%);
      }
      .title {
        grid-row: 2 / 3;
        padding: $padding * 0.3;
        background: rgba(0, 0, 0, 0.7);
        h2 {
          font-weight: bold;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: 50% 50%;
    background-size: $bg-size;
    background-repeat: $bg-repeat;
  }
  @include desktop {
    grid-template-columns: 25% 25% 25% 25%;
    background-size: $bg-size;
    background-repeat: $bg-repeat;
  }
}
//end of article section

//footer section
footer {
  color: #c2c2c2;
  display: $grid;
  grid-template-rows: 40vh;
  align-items: end;
  justify-items: center;
  span {
    text-transform: uppercase;
  }
  &.change {
    align-items: start;
    grid-template-rows: 1fr;
  }
  @include desktop {
    justify-items: left;
    padding-left: $padding * 2;
  }
}
//end of footer section
