/* 

TYPOGRAPHY

*/

body {
  font-family: $basefontfamily; //currently is open sans but check variables.scss for changes
  font-size: $basefontsize; //currently is 1em but check variables.scss for changes
  background-color: $bgcolor; //currently is black but check variables.scss for changes
  color: $fontcolor; //currently is white but check variables.scss for changes
}

//header section
.header-wrapper {
  display: $grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  max-width: 100%;
  text-align: center;

  .logo-container {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  //form
  .category-form {
    grid-row: 19 / 20;
    grid-column: 2 / 3;
    text-align: center;
    display: $grid;
    grid-template-rows: 2rem 2rem;
    .news-category {
      font-size: 20px;
    }
    @include tablet {
      grid-template-columns: 75%;
    }
  }
  // end of form

  @include tablet {
    grid-template-columns: 10% $column;
    grid-template-rows: $row;
    .logo-container {
      grid-row: 13 / 14;
      img {
        width: 13vh;
      }
    }
    .category-form {
      grid-column: 3 / 4;
      grid-row: 14 / 15;
      text-align: left;
    }
  }
  @include desktop {
    grid-template-columns: 5% 17% $column;
    grid-template-rows: $row;
    .logo-container {
      grid-row: 10/11;
      text-align: left;
      img {
        width: auto;
      }
    }
    .category-form {
      grid-row: 18 / 19;
    }
  }
  &.change {
    display: grid;
    grid-template-rows: 2rem;
    .logo-container img {
      width: 80%;
    }
    @include tablet {
      .category-form {
        grid-row: 13/14;
        align-self: center;
        justify-items: center;
      }
      .logo-container img {
        width: 35%;
        justify-items: center;
      }
    }
    @include desktop {
      .category-form {
        grid-row: 10/13;
      }
    }
  }

  .load-gif {
    display: none;
    width: 50px;
    height: auto;
    grid-row: 22/24;
    grid-column: 2/3;
    margin: 0 auto;
    @include tablet {
      grid-row: 15/17;
      grid-column: 4/5;
      margin: inherit;
    }
    // @include desktop {

    // }
  }
}
//end of header section

//start of article section

.all-articles {
  display: $grid;
  grid-template-columns: 1fr;
  a {
    text-decoration: none;
    color: $fontcolor;
    .each-article {
      display: $grid;
      grid-template-rows: 2fr 23%;
      background-size: $bg-size;
      background-position: center;
      background-repeat: $bg-repeat;
      height: $articleH;
      filter: grayscale(100%);
      transition: all 0.3s ease-in;
      &:hover {
        filter: grayscale(0%);
      }
      .title {
        grid-row: 2 / 3;
        padding: $padding * 0.3;
        background: rgba(0, 0, 0, 0.7);
        h2 {
          font-weight: bold;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: 50% 50%;
    height: $articleH;
    background-size: $bg-size;
    background-repeat: $bg-repeat;
  }
  @include desktop {
    grid-template-columns: 25% 25% 25% 25%;
    height: $articleH;
    background-size: $bg-size;
    background-repeat: $bg-repeat;
  }
}
//end of article section

//footer section
footer {
  min-height: 100%;
  text-align: center;
  padding: $padding;
  span {
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
  }
}
