//for media queries
$tablet-width: 600px;
$desktop-width: 1000px;

// ****
$basefontsize: 1em;
$padding: 1rem;
$bgcolor: #000;
$fontcolor: #fff;
$basefontfamily: "Open Sans", sans-serif;
$articleH: 400px;
$bg-size: cover, contain;
$bg-repeat: no-repeat;

// GRID
$grid: grid;
$column: 1fr 1fr 1fr;
$row: repeat(35, 1.5rem);
//****
